{% include 'merchantheader.html' %}
{% include 'navigation.html' %}
<form action="{% url 'changepwd' %}" method="post">
    {% csrf_token %}
    <h3 style="margin-left: 45%">Merchant Login</h3>
    <table align="center" cellpadding="20%">
        <tr>
            <th>
                EmailId
            </th>
            <th>
                <input type="email" name="email">
            </th>
        </tr>
        <tr>
            <th>
                old Password
            </th>
            <th>
                <input type="password" name="old">
            </th>
        </tr>
        <tr>
            <th>
                 new Password:
            </th>
            <th>
                <input type="password" name="new">
            </th>
        </tr>
        <tr>
            <th>
                 confirm Password:
            </th>
            <th>
                <input type="password" name="confirm">
            </th>
        </tr>
    </table>
    <button type="submit" style="margin-left: 45%;">Change</button><br><br>


</form>