<div style="background-color: greenyellow">
<table cellpadding="20%" cellspacing="20%" align="center" >
    <tr>
        <th>
            <ul><a href="{% url 'product' %}" class="btn btn-warning">Product</a>
            <li> <a class="dropdown-item dropdown" href="#">Action</a></li>
             <li><a class="dropdown-item dropdown" href="#">Another action</a></li>
                </ul>
        </th>
        <th>
            <button type="button" class="btn btn-warning">Sales</button>
        </th>
        <th>
            <button type="button" class="btn btn-warning">Customers</button>
        </th>
        <th>
            <a href="#" class="btn btn-warning">Complaints</a>
        </th>
        <th>
            <a href="#" class="btn btn-warning">Logout</a>
        </th>
    </tr>
</table>
</div>



