{% include 'header.html' %}
{% include 'navigation.html' %}
<div class="container-fluid" >
  <div class="row content">
    <div class="col-sm-3 sidenav" style="background-color:darkkhaki;color: mistyrose" >
        <div>
      <br><br><br>
        <h3><a href="{% url 'addmerchant'%}"> Add Merchant</a></h3><br><br>
        <h3><a href="{% url 'viewmerchant'%}"> View Merchant</a></h3><br><br>
        <h3><a href="{% url 'deletemerchant'%}"> Delete Merchant</a></h3><br><br><br>
            </div>
    </div>
      <div class="col-sm-9" style="background-color: mistyrose">
          <form action="{% url 'addmc' %}" method="post">
              {% csrf_token %}
              <table cellpadding="20%" align="center">
                  <tr>
                      <th>Name:</th>
                      <th><input type="text" name="name" required> </th>
                  </tr>
                  <tr>
                      <th>
                          Contact Number:
                      </th>
                      <th>
                          <input type="number" required name="cno">
                      </th>
                  </tr>
                  <tr>
                      <th>Email ID:</th>
                      <th><input type="email" name="email" required></th>
                  </tr>
              </table>
              <button type="submit" style="margin-left: 50%">Save</button>
          </form>
      </div>
  </div>
</div>