<div style="background-color: greenyellow">
<table cellpadding="20%" cellspacing="20%" align="center" >
    <tr>
        <th>
            <button type="button" class="btn btn-warning">Merchant</button>
        </th>
        <th>
            <button type="button" class="btn btn-warning">Sales</button>
        </th>
        <th>
            <button type="button" class="btn btn-warning">Complaints</button>
        </th>
        <th>
            <a href="{% url 'adminlogin' %}" class="btn btn-warning">Logout</a>
        </th>
    </tr>
</table>
</div>



